<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <form [formGroup]="user" (ngSubmit)="onSubmit()" class="formLayout">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
  
        <mat-card-content fxLayout="column">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="email"
              aria-label="email"
              data-cy="login-email"
              formControlName="username"
              data-cy='email'
            />
            <mat-error
                *ngIf="
                  user.get('username').errors && user.get('username').touched
                "
              >
                {{ getErrorMessage(user.get('username').errors) }}
              </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input
              type="password"
              matInput
              placeholder="password"
              aria-label="password"
              data-cy="login-password"
              formControlName="password"
              data-cy='password'
            />
            <mat-error
                *ngIf="
                  user.get('password').errors && user.get('password').touched
                "
              >
                {{ getErrorMessage(user.get('password').errors) }}
              </mat-error>
              <mat-error
                *ngIf="
                  this.errorMsg
                "
              >
                {{ showableErrorMsg }}
              </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
          <a [routerLink]="['/register']">register</a>
  
          <button
            mat-raised-button
            type="submit"
            color="primary"
            data-cy="login-button"
            data-cy="login"
          >
            Login
          </button>
        </mat-card-actions>
        
      </form>
    </mat-card>
  </div>